<script>var yolo = "Home";var swag = "";</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"     content="width=device-width, initial-scale=1.0">
    <meta name="author"       content="Tundra Fizz">
    <meta name="description"  content="Pax West hotel database for League of Legends General Discussion">
    <meta name="keywords"     content="Pax, West, Penny, Arcade, Expo, League, Legends, General, Discussion, Hotel, Database"/>
    
    <link rel="shortcut icon" href="../resources/favicon.png">
    <link rel="stylesheet"    href="../resources/style.css">
    <link rel="stylesheet"    href="../resources/bootstrap.css"/>                 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"    href="../resources/style.css?v=0" type="text/css"/> <!-- Custom CSS         -->

    <script src="../resources/jquery-2.1.4.js"></script>       <!-- jQuery                     -->
    <script src="../resources/jquery-ui.js"></script>          <!-- jQuery                     -->
    <script src="../resources/canvasjs.js"></script>           <!-- Draws graphs               -->
    <script src="../resources/jquery.tablesorter.js"></script> <!-- Allows tables to be sorted -->
    <script src="../resources/bootstrap.min.js"></script>      <!-- Bootstrap Core JavaScript  -->
    <script src="../resources/tundra.js"></script>             <!-- My custom JavaScript       -->

    <title>PAX West</title>
  </head>

  <!-- Stuffy stuff -->
  <div id="account-manage-box" style="display: none;">
    <div id="account-manage-header" class="noselect"></div>
    <button id="account-manage-x" onclick="AccountBoxClose();">X</button>
    
    <div id="account-manage">
      <table class="table-center" style="border-collapse: separate; border-spacing: 6px;">
        <tr>
          <td>Username</td>
          <td><input id="c_username" autocomplete="off" type="text" size="18"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input id="c_password" autocomplete="off" type="password" size="18"></td>
        </tr>
        <tr id="account-manage-confirm-password">
          <td>Confirm Password</td>
          <td><input id="c_passwordconfirm" autocomplete="off" type="password" size="18"></td>
        </tr>
        <tr id="account-manage-summoner-name">
          <td>Summoner Name</td>
          <td><input id="c_summonername" autocomplete="off" type="text" size="18"></td>
          <td><select id="c_region" style="font-size: 12px;">
                <option value="NA">NA</option>
                <option value="EUW">EUW</option>
                <option value="EUNE">EUNE</option>
                <option value="OCE">OCE</option>
              </select></td>
        </tr>
      </table>
      <button id="account-manage-button" class="button" onclick="AccountManageButton();"></button>
      <button id="account-error" style="display: none; left: 0px; color: silver;" onclick="$(this).fadeOut('slow');"></button>
    </div>
  </div>

  <body>
    {% include "navbar.html" %}
    {% include "navbar-mobile.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Fish fish fish!</p>
          <p>This website is currently under construction.</p>
        </div>
      </div>
    </div>
  </body>
</html>
