replace this line with the host
replace this line with the user
replace this line with the password
replace this line with the database

Once all four lines are replaced, remove the .template extension from this file
