<!-- <script>var yolo = "Fek";var swag = "Account";</script> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TBD</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="author"      content="Tundra Fizz"/>

    <link rel="shortcut icon" href="icon/icon.jpg"/>                          <!-- Icon     -->
    <!-- <link rel="stylesheet"    href="css/bootstrap/bootstrap.css"/>            <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet"    href="css/misc/style.css?v=7" type="text/css"/> <!-- Custom CSS         -->

    <script src="js/jquery/jquery-2.1.4.js"></script>       <!-- jQuery                     -->
    <script src="js/jquery/jquery-ui.js"></script>          <!-- jQuery                     -->
    <script src="js/canvas/canvasjs.js"></script>           <!-- Draws graphs               -->
    <script src="js/jquery/jquery.tablesorter.js"></script> <!-- Allows tables to be sorted -->
    <script src="js/bootstrap/bootstrap.min.js"></script>   <!-- Bootstrap Core JavaScript  -->
    <script src="js/misc/tundra.js"></script>               <!-- My custom JavaScript       -->
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form>
          <table id="myTable" border="0">
          <tr>
            <td colspan="3">
              <input type="button" id="btnAddRow" value="Add row">
              <input type="button" id="btnSubmit" value="Submit">

              <!-- <label for="upload_files" class="button">Upload Files</label> -->
              <!-- <input id ="upload_files" type="file" name="files"> -->
            </td>
          </tr>
          </table>
        </form>
      </div>
    </div>
    </div>
  </body>
</html>

<script>

var row = 0;

$(function(){
  AddRow();
});

$("#btnAddRow").click(function(){
  AddRow();
});

$("#btnSubmit").click(function(){
  $("tr").slice(1).each(function(){
    var formData = new FormData();
    var key      = $(this).attr("data");
    var name     = $(`[data=name${key}]`).val();
    var region   = $(`[data=region${key}]`).val();
    var file     = $(`[data=avatar${key}]`).get(0).files[0];
    console.log(file);
    formData.append("name", name);
    formData.append("region", region);
    formData.append("uploads[]", file, file.name);

    $.ajax({
      url: "uploadavatar",
      type: "POST",
      data: formData,
      contentType: false,
      processData: false
    }).done(function(data){
      console.log(data);
    });
  });
});

function AddRow(){
  $("#myTable").append(`
  <tr data=${row}>
    <td><input data="name${row}" type="text"></td>
    <td>
      <select data="region${row}">
        <option value="NA">NA</option>
        <option value="OCE">OCE</option>
        <option value="EUW">EUW</option>
        <option value="EUNE">EUNE</option>
      </select>
    </td>
    <td><input data="avatar${row}" type="file" name="file"></td>
  </tr>`);

  row++;
}

</script>
