<style>

body {
  background-color: lightgray;
}

#summoner-table td {
  padding: 2px;
}

input[type=file] {
  display: none;
}

label[data=active] {
  border:              1px dashed black;
  font-family:         Roboto;
  cursor:              pointer;
  padding:             0px 2px;
  user-select:         none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  -ms-user-select:     none;
}
label[data=active]:hover {
  border: 1px solid black;
}
label[data=active]:active {
  border: 1px solid red;
}
label[data=disabled] {
  border:           1px dashed gray;
  font-family:      Roboto;
  background-color: #ebebe4;
  color:            gray;
  cursor:           default;
}

.summoner-icon {
  width:               28px;
  height:              28px;
  user-select:         none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  -ms-user-select:     none;
}

.summoner-loading{
  display:     block;
  font-size:   28px;
  width:       28px;
  height:      28px;
  line-height: 1;
}

/* Don't allow the user to highlight certain things */
input:disabled, label, select, .summoner-loading {
  user-select:         none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  -ms-user-select:     none;
}

select:disabled {
  background-color: #ebebe4;
}

</style>

<!-- <script>var yolo = "Fek";var swag = "Account";</script> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TBD</title>
    <meta charset="utf-8">
    <meta name="author"      content="Tundra Fizz">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords"    content="HTML,CSS,XML,JavaScript">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="icon/icon.jpg">                                  <!-- Icon               -->
    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Roboto"> <!-- Roboto font        -->
    <!-- <link rel="stylesheet"    href="css/bootstrap/bootstrap.css"/>              <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet"    href="css/misc/style.css?v=7" type="text/css"/>   <!-- Custom CSS         -->

    <script src="js/jquery/jquery-2.1.4.js"></script>                <!-- jQuery                     -->
    <!-- <script src="js/jquery/jquery-ui.js"></script>          --> <!-- jQuery                     -->
    <!-- <script src="js/canvas/canvasjs.js"></script>           --> <!-- Draws graphs               -->
    <!-- <script src="js/jquery/jquery.tablesorter.js"></script> --> <!-- Allows tables to be sorted -->
    <!-- <script src="js/bootstrap/bootstrap.min.js"></script>   --> <!-- Bootstrap Core JavaScript  -->
    <!-- <script src="js/misc/tundra.js"></script>               --> <!-- My custom JavaScript       -->
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table id="summoner-table" border="0">
          <tr>
            <td colspan="5">
              <input type="button" id="btnAddRow" value="Add row">
              <input type="button" id="btnSubmit" value="Upload Avatars">
            </td>
          </tr>
        </table>
      </div>
    </div>
    </div>
  </body>
</html>

<script>

// Minimized function I made which helps sending form POST data easily
function SendToServer(u,f,c){$.ajax({url:u,type:"POST",data:f,contentType:false,processData:false}).done(function(d){c(d)})}

$(function(){
  AddRow();
});

$("#btnAddRow").click(function(){
  AddRow();
});

$("#btnSubmit").click(function(){
  $("tr").slice(1).each(function(){
    var self     = this;
    var formData = new FormData();
    var name     = $(".summoner-name",   this).val();
    var region   = $(".summoner-region", this).val();
    var file     = $(".summoner-avatar", this).get(0).files[0];

    // Skip this row if it's disabled, already uploading, or has no file
    var isDisabled  = $(this).attr("status") == "uploaded";
    var isUploading = $(this).attr("status") == "uploading";
    var noFile      = (typeof file === "undefined");
    if(isDisabled || isUploading || noFile)
      return true;

    $(".summoner-loading", self).css("background", "url(spin.svg)");
    $(".summoner-loading", self).text("");

    formData.append("name", name);
    formData.append("region", region);
    formData.append("file", file, file.name);

    $(self).attr("status", "uploading");

    SendToServer("uploadavatar", formData, function(data){
      $(".summoner-loading").css("background", "url()");
      console.log(data);
      if(data){
        $(self).attr("status", "uploaded");
        $(".summoner-name",    self).prop("disabled", true);
        $(".summoner-region",  self).prop("disabled", true);
        $(".summoner-avatar",  self).prop("disabled", true);
        $("[data=active]",     self).attr("data", "disabled");
        $(".summoner-loading", self).css("color", "green");
        $(".summoner-loading", self).text("✔");
      }else{
        $(self).attr("status", "");
        $(".summoner-loading", self).css("color", "red");
        $(".summoner-loading", self).text("✘");
      }
    });
  });
});

function AddRow(){
  AddRow.row = ++AddRow.row || 0;
  var row = AddRow.row;

  $("#summoner-table tbody").append(`
  <tr>
    <td>
      <input class="summoner-name" type="text">
    </td>
    <td>
      <select class="summoner-region">
        <option value="NA">NA</option>
        <option value="OCE">OCE</option>
        <option value="EUW">EUW</option>
        <option value="EUNE">EUNE</option>
      </select>
    </td>
    <td>
      <label for="av${row}" data="active" type="file">Select avatar</label>
      <input  id="av${row}" type="file" class="summoner-avatar">
    </td>
    <td>
      <img id="ico${row}" class="summoner-icon" draggable="false"></img>
    </td>
    <td>
      <span id="load${row}" class="summoner-loading" draggable="false"></img>
    </td>
  </tr>`);

  $(`#av${row}`).change(function(){
    if(this.files && this.files[0]){ // If the user has selected a file
      var reader = new FileReader(); // Create a FileReader object
      reader.onload = function(e){   // When a file has been loaded...
        $(`#ico${row}`).attr("src", e.target.result); // ...preview image file
        $(`#load${row}`).text("");                    // ...remove any text
      }
      reader.readAsDataURL(this.files[0]); // Read a file as base64 data
    }
    else{
      $(`#ico${row}`).attr("src", "");
    }
  });
}

</script>
