<script>var yolo = "Projects";var swag = "Riot Randomizer";</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pax West</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="author"      content="Tundra Fizz"/>
    <meta name="viewport"    content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Pax West hotel database for League of Legends General Discussion"/>
    <meta name="keywords"    content="Pax, West, Penny, Arcade, Expo, League, Legends, General, Discussion, Hotel, Database"/>

    <link rel="shortcut icon" href="icon/icon.jpg"/>                          <!-- Icon     -->
    <link rel="stylesheet"    href="css/bootstrap/bootstrap.css"/>            <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"    href="css/misc/style.css?v=7" type="text/css"/> <!-- Custom CSS         -->

    <script src="js/jquery/jquery-2.1.4.js"></script>       <!-- jQuery                     -->
    <script src="js/jquery/jquery-ui.js"></script>          <!-- jQuery                     -->
    <script src="js/canvas/canvasjs.js"></script>           <!-- Draws graphs               -->
    <script src="js/jquery/jquery.tablesorter.js"></script> <!-- Allows tables to be sorted -->
    <script src="js/bootstrap/bootstrap.min.js"></script>   <!-- Bootstrap Core JavaScript  -->
    <script src="js/misc/tundra.js"></script>               <!-- My custom JavaScript       -->
  </head>

  <body>
    <%- desktop %>
    <%- mobile %>

    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>Fish fish fish!</p>
        <p>This website is currently under construction.</p>
      </div>
    </div>
    </div>
  </body>
</html>
