<script>var yolo = "Home";var swag = "";</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"     content="width=device-width, initial-scale=1.0">
    <meta name="author"       content="Tundra Fizz">
    <meta name="description"  content="Pax West hotel database for League of Legends General Discussion">
    <meta name="keywords"     content="Pax, West, Penny, Arcade, Expo, League, Legends, General, Discussion, Hotel, Database"/>
    
    <link rel="shortcut icon" href="../resources/favicon.png">
    <link rel="stylesheet"    href="../resources/style.css">
    <link rel="stylesheet"    href="../resources/bootstrap.css"/>                 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"    href="../resources/style.css?v=0" type="text/css"/> <!-- Custom CSS         -->

    <script src="../resources/jquery-2.1.4.js"></script>       <!-- jQuery                     -->
    <script src="../resources/jquery-ui.js"></script>          <!-- jQuery                     -->
    <script src="../resources/canvasjs.js"></script>           <!-- Draws graphs               -->
    <script src="../resources/jquery.tablesorter.js"></script> <!-- Allows tables to be sorted -->
    <script src="../resources/bootstrap.min.js"></script>      <!-- Bootstrap Core JavaScript  -->
    <script src="../resources/tundra.js"></script>             <!-- My custom JavaScript       -->

    <title>Riot Randomizer</title>
  </head>

  <body>
    {% include "navbar.html" %}
    {% include "navbar-mobile.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>This is the Riot Randomizer</p>
        </div>
      </div>
    </div>
  </body>
</html>
