body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size:   75%;
  width:       200px;
  overflow:    hidden;
}

p {
 cursor: default;
}

span {
  color:  blue;
  cursor: pointer;
}

p, span {
 -webkit-user-select: none;
 -moz-user-select:    none;
 -ms-user-select:     none;
 user-select:         none;
}
