<script>var yolo = "Fek";var swag = "Account";</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"     content="width=device-width, initial-scale=1.0">
    <meta name="author"       content="Tundra Fizz">
    <meta name="description"  content="Pax West hotel database for League of Legends General Discussion">
    <meta name="keywords"     content="Pax, West, Penny, Arcade, Expo, League, Legends, General, Discussion, Hotel, Database"/>
    
    <meta name="author"      content="Tundra Fizz"/>
    <meta name="viewport"    content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Pax West hotel database for League of Legends General Discussion"/>
    <meta name="keywords"    content="Pax, West, Penny, Arcade, Expo, League, Legends, General, Discussion, Hotel, Database"/>
    
    <link rel="shortcut icon" href="static/favicon.png">
    <link rel="stylesheet"    href="static/style.css">
    <link rel="stylesheet"    href="static/bootstrap.css"/>                 <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"    href="static/style.css?v=0" type="text/css"/> <!-- Custom CSS         -->
    
    <script src="static/jquery-2.1.4.js"></script>       <!-- jQuery                     -->
    <script src="static/jquery-ui.js"></script>          <!-- jQuery                     -->
    <script src="static/canvasjs.js"></script>           <!-- Draws graphs               -->
    <script src="static/jquery.tablesorter.js"></script> <!-- Allows tables to be sorted -->
    <script src="static/bootstrap.min.js"></script>      <!-- Bootstrap Core JavaScript  -->
    <script src="static/tundra.js"></script>             <!-- My custom JavaScript       -->

    <title>Fek - Account</title>
  </head>
  
  <body>
    {% include "navbar.html" %}
    {% include "navbar-mobile.html" %}
    <div class="row">
      <div class="col-sm-12">
        <p>Placeholder text.</p>
      </div>
    </div>
  </body>
</html>
